<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Ensure all requests are handled by Node -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>

    <!-- Rewrite all requests to server.js -->
    <rewrite>
      <rules>
        <rule name="NodeJS">
          <match url=".*" />
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>

    <!-- Disable directory browsing -->
    <directoryBrowse enabled="false" />

    <!-- Improve Node.js logging -->
    <iisnode loggingEnabled="true" devErrorsEnabled="true" />
  </system.webServer>
</configuration>
